body {
    background-color: #F4F4F4;
    margin: 0;
    font-family: sans-serif;
}

.main-container {
    background-color: #232323;
    max-width: 55rem;
    margin: 0 auto;
    height: 100vh;
    box-shadow: 0px 0px 6px 3px #B7B7B7;
}
.container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    max-width: 50rem;
    /* margin-top: 0.8rem auto; */
    margin: 0.5rem auto;

}

.square {
    width: 30%;
    background-color: purple;
    margin: 1.66%;
    padding-bottom: 30%;
    border-radius: 50%;
    transition: background-color 0.6s;
    -webkit-transition: background-color 0.6s;
    -moz-transition: background-color 0.6s;
}

h1 {
    color: white;
    text-align: center;
    line-height: 1.1;
    background-color: #8C939E;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 2rem 0
}

#color-display {
    font-size: 2em;
}

#stripe {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 3rem;
    text-align: center;
}

#message {
    display: inline-block;
    width: 20%;
    padding: 1rem;
}

.selected {
    color: white;
    background-color: #8C939E;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    padding: 0 2rem;
    font-weight: 700;
    color: #8C939E;
    letter-spacing: inherit;
    outline: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

button:hover{
    color: white;
    background-color: #8C939E;
  
}